label#thumbnail {
  margin-bottom: 1px;
  border: 1px dashed #ddd;
  background-size: cover;
  cursor: pointer;
  height: 160px;

  display: flex;
  justify-content: center;
  align-items: center;
}

label#thumbnail input {
  display: none;
}

label#thumbnail.hasthumbnail{
  border: 0;
}

label#thumbnail.hasThumbnail img{
  display: none;
}
